# Python repetition part 1

In [1]:
print("hello")

hello

## Data types

In [2]:
name = "Kokchun"
age = 33.5
loves_math = True
favorite_number = 42

In [3]:
type(name)

str

#

In [8]:
print(f"Type of age variable: {type(age)}")
print(f"Type of loves_math variable: {type(loves_math)}")
print(f"{type(favorite_number) = }")

Type of age variable: <class 'float'>
Type of loves_math variable: <class 'bool'>
type(favorite_number) = <class 'int'>

## Collection types

- dictionary
- list
- tuple
- set

### list

In [10]:
# list of strings
interests = ["badminton", "yoga", "math", "programming"]

# list of different data types
person = ["Kokchun", 33.5, True]

interests

['badminton', 'yoga', 'math', 'programming']

In [13]:
interests[1], interests[-1]

('yoga', 'programming')

In [17]:
person[1:3]

[33.5, True]

In [19]:
person[:]

['Kokchun', 33.5, True]

In [20]:
interests[1:]

['yoga', 'math', 'programming']

In [22]:
person.append(interests)

In [23]:
person

['Kokchun', 33.5, True, ['badminton', 'yoga', 'math', 'programming']]

In [24]:
len(person)

4

In [25]:
person[-1]

['badminton', 'yoga', 'math', 'programming']

In [26]:
person[-1][2]

'math'

In [28]:
person[::-1]

[['badminton', 'yoga', 'math', 'programming'], True, 33.5, 'Kokchun']

## Iterate over list

In [31]:
# common approach in many languages
for i in range(len(interests)):
    print(interests[i])

badminton
yoga
math
programming

In [32]:
# pythonic approach
for interest in interests:
    print(interest)

badminton
yoga
math
programming

In [33]:
numbers = []
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# list comprehension
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
squares = [number**2 for number in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
# mutating a list
squares[5] = "124"
squares

[0, 1, 4, 9, 16, '124', 36, 49, 64, 81]

## Tuples

- immutable collection

In [40]:
squares = tuple(i**2 for i in range(10))
squares

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [42]:
# slicing tuples
squares[4:8]

(16, 25, 36, 49)

In [44]:
# accessing value
squares[2]

4

In [47]:
squares[::-1]

(81, 64, 49, 36, 25, 16, 9, 4, 1, 0)

In [48]:
# tuples are immutable
squares[5] = "124"

TypeError: 'tuple' object does not support item assignment

In [49]:
new_tuple = (1, 2, 3)
new_tuple

(1, 2, 3)

## sets

- unique collection

In [50]:
import random as rnd

dices = [rnd.randint(1, 6) for _ in range(20)]
dices

[4, 4, 5, 6, 6, 1, 2, 2, 3, 1, 2, 4, 4, 4, 5, 1, 2, 2, 2, 5]

In [53]:
unique_dices = set(dices)
unique_dices

{1, 2, 3, 4, 5, 6}

In [54]:
unique_dices[0]

TypeError: 'set' object is not subscriptable

In [55]:
set2 = {1, 3, 10, 15}
set2

{1, 3, 10, 15}

In [57]:
set2.union(unique_dices)

{1, 2, 3, 4, 5, 6, 10, 15}

In [58]:
set2 | unique_dices

{1, 2, 3, 4, 5, 6, 10, 15}

## Dictionary

In [59]:
person1 = dict(name="Kokchun", age=33.5, loves_math=True)
person1

{'name': 'Kokchun', 'age': 33.5, 'loves_math': True}

In [60]:
person2 = {"name": "Kokchun", "age": 33.5, "loves_math": True}
person2

{'name': 'Kokchun', 'age': 33.5, 'loves_math': True}

In [61]:
person1 == person2

True

In [64]:
hex(id(person1)), hex(id(person2))

('0x107464840', '0x107466f00')

In [65]:
for key in person1:
    print(key)

name
age
loves_math

In [67]:
for key in person1:
    print(person1[key])

Kokchun
33.5
True

In [68]:
person1["age"]

33.5

In [69]:
for key, value in person1.items():
    print(f"{key}: {value}")

name: Kokchun
age: 33.5
loves_math: True

In [72]:
# dictionary comprehension
ml_terms = [
    "Supervised Learning",
    "Unsupervised Learning",
    "Feature Engineering",
    "Overfitting",
    "Cross-Validation",
]


ml_explanations = [
    "Learns from labeled data.",
    "Finds patterns in unlabeled data.",
    "Enhances input features for models.",
    "Model fits training data too closely.",
    "Evaluates model performance robustly.",
]

{
    term.lower(): explanation.lower()
    for term, explanation in zip(ml_terms, ml_explanations)
}

{'supervised learning': 'learns from labeled data.',
 'unsupervised learning': 'finds patterns in unlabeled data.',
 'feature engineering': 'enhances input features for models.',
 'overfitting': 'model fits training data too closely.',
 'cross-validation': 'evaluates model performance robustly.'}